@CHARSET "ISO-8859-1";
/* styles for the login page
   Author: Kelsey Alexander
   Date: September 26, 2016
*/
.login {
	background-color: #dad8c9;
	font-size: 14pt;
    padding: 18px 18px 18px 30px;
    box-shadow: 10px 10px 10px #1D4E4B;
    color: #42514e;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit {
    background-color: #6e8266;
    color: #dad8c9;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

